* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "roboto";
}

.container {
  background: #23424a;
  margin-bottom: 35%;
  color: white;
}

.intro-content {
  padding: 10% 45% 5% 8.5%;
}

.intro-content h1 {
  font-size: 48px;
  font-weight: 900;
}

.intro-content p {
  margin-top: 5%;
  font-size: 21px;
  font-weight: 400;
}

.intro-content button {
  margin: 10% 0 15% 0;
  width: 285px;
  height: 63px;
  font-weight: 600;
  border: none;
  font-size: 21px;
  border-radius: 32px;
  background-color: #38CFD9;
  ;
}


