* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.hero {
  padding: 100px 0;
  background: #23424a;
  color: white;
}

.container {
  margin: 0 auto;
  margin-left: 10%;
  width: 48%;
  max-width: 750px;
}

.container h1 {
  font-size: 48px;
  font-weight: 900;
}

.container p {
  margin-top: 5%;
  font-size: 1.3rem;
  font-weight: 400;
}

.container button {
  font-size: 1.3rem;
  height: 3em;
  width: 13.7em;
  margin-top: 5%;
  border: none;
  border-radius: 1.53em;
  background-color: #38CFD9;
  color: #23424a;
  font-weight: 700;
}


